@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
:root{
    --cor-principal:#FFD2DD;
--cor-secundaria:#F69BBA;
--cor-texto:#82BFB7;
--cor-fundo: #C6E6E3;
--font: "Playpen Sans"


}